{{!-- {{#each categories as |category|}}
    <div class="category">
    <ol>
        {{#each category.categories as |activity|}}
            <li>{{activity.category}}</li>
        {{/each}}
    </ol>
    </div>
{{/each}} --}}

{{yield}}
