$maincolor: #acea88;
$mainfontcolor: #ffffff;
$font: 'Jura', sans-serif;

body {
    background: lighten(#9eaaa1, 20%);
    font-family: $font;



}
a {
    text-decoration: none;
    color: inherit;
}
