$maincolor: #94c675;
$mainfontcolor: #ffffff;
$font: 'Jura', sans-serif;
$background: #f2f7f2;

body {
    background-color: $background;


    font-family: $font;



}
a {
    text-decoration: none;
    color: inherit;
}
