button {
    @include button(shiny, $maincolor);
}


.events-main {
    @include span-columns(2);
    overflow: auto;
    line-height: 2rem;

    li {
        border-bottom: 1px solid black;

    }
}
.calendar {
    @include span-columns(10);
    @include omega();
    font-size: 0.8rem;
    overflow: auto;

}
.events-main ul, li {
        h3 {
            font-size: 0.8rem;
            font-weight: bold;
        }

}
