section {
    @include span-columns(12);
    padding: 0 2%;

    @include media($mobile) {
        @include span-columns(12);
    }

    .section-left {
        @include span-columns(9);

        @include media($mobile) {
            @include span-columns(12);
        }

        .image {
            @include span-columns(12);

            @include media($mobile) {
                @include span-columns(12);
        }

            img {
                min-height: 300px;
            }
        }

    // .activites {
    //     @include span-columns(4);

    //     background: $background;
    //     border-radius: 5px;

    //     // border: 2px solid #e0e0e0;
    //     margin: 20px 0;
    //     padding: 15px;
    //     font-family: inherit;

    //     h4 {
    //         font-size: 2rem;
    //         font-weight: bold;
    //         padding-bottom: 10px;
    //     }
    //     ul li {
    //         padding-bottom: 8px;
    //         line-height: 18px;
    //     }
    // }
}

.section-right {
    @include span-columns(3);
    @include media($mobile) {
        @include span-columns(12);

        text-align: center;

    }
    .activites {
        @include span-columns(12);

        background: $background;
        border-radius: 5px;

        text-align: center;
        margin: 20px 0;
        padding: 15px;
        font-family: inherit;

        h4 {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 10px;
        }
        ul li {
            padding-bottom: 8px;
            line-height: 18px;
            text-align: left;
        }
    }



    .currentweather {
        @include span-columns(12);
        @include omega();
        background: $background;
        padding: 15px;
        border-radius: 5px;

        margin: 20px 0;
        font-family: inherit;
        text-align: center;

        h4 {
            font-size: 1.8rem;
            font-weight: bold;
            // text-align: center;
            padding-bottom: 10px;
        }
        p {
            font-size: 2rem;
            padding-bottom: 10px;
        }
        h3 {
            font-weight: bold;
            font-size: 1.2rem;
            padding-bottom: 10px;
        }
        p:last-of-type {
            font-size: 1.1rem;
        }
    }
        .events {
        @include span-columns(12);
        background: $background;
        padding: 15px 5px;
        margin: 20px 0;
        text-align: center;
        border-radius: 5px;
        font-family: inherit;
        h4 {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 10px;
        }
        ul li {
            font-size: 0.9rem;
            padding-bottom: 8px;
            line-height: 20px;
            text-align: left;
            padding: 0 5px;
        }
    }
}
}
// }

