nav {
  background: $maincolor;
  color: $mainfontcolor;

  ul {
    @include outer-container(1120px);
    height: 50px;
  }

  li {
    display: inline-block;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
