header {
  background-color: $maincolor;
  // text-align: center;
  display: block;
  height: 100px;
}
h1 {
  font-size: 2rem;
  padding-top: 10px;
  padding-left: 10px;
}
p {
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 10px;
}
nav, footer {
  clear: both;
  background-color: lighten($maincolor, 10%);
  height: 40px;
}

nav ul, footer ul {
  padding: 5px 0px 10px 30px;
}

nav li, footer li {
    display: inline;
    margin-right: 40px;
    font-size: 1.1rem;

  }

a {
    color: inherit;
    text-decoration: none;


    &:hover {
      background-color: lighten($maincolor, 20%);

    }

  }


