nav {
  background-color: $maincolor;
  // background-image: linear-gradient(to bottom,#acea88 0%, #74b867 50%, #569f58 50%, #5da45a 100%);

  ul {
    @include outer-container();
    height: 50px;
  }

  li {
    display: inline-block;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    background: darken($maincolor, 10%);

  }
}
