
<div class='activites'>
    <h4>Popular Activities</h4>
    <ul>
        {{#each model.activities as |activity|}}
            <li>{{activity.name}}</li>
        {{/each}}
    </ul>
</div>

<div class='events'>
    <h4>Upcoming Events</h4>
    <ul>
        {{#each model.events as |event|}}
            <li>{{event.name}}</li>
        {{/each}}
    </ul>
</div>


