<div>
    <ul>
        {{#each model.activities as |activity|}}
            <li>{{activity.name}}</li>
        {{/each}}
    </ul>
</div>

<div>
    <ul>
        {{#each model.events as |event|}}
            <li>{{event.name}}</li>
        {{/each}}
    </ul>
</div>

