<div>
    <ul>
        {{#each activities}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</div>

<div>
    <ul>
        {{#each events}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</div>

