<div class="activities-main">

<button>{{#link-to 'activities.create'}}{{fa-icon 'fa-calendar-plus-o'}}{{/link-to}}</button>

<button>{{#link-to 'activities.index'(query-params category='Sports')}}Sports{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Dance')}}Dance{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Tutoring')}}Tutoring{{/link-to}}</button>

{{outlet}}

</div>


