<div class="activities-main">

<button>{{#link-to 'activities.create'}}{{fa-icon 'fa-calendar-plus-o'}}{{/link-to}}</button>

<button>{{#link-to 'activities.index'(query-params category='Sports')}}Sports{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Dance')}}Dance{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Tutoring')}}Tutoring{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='After-School Care')}}After-School Care{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Art')}}Art{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Enrichment')}}Enrichment{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Martial Arts')}}Martial Arts{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Music')}}Music{{/link-to}}</button>
<button>{{#link-to 'activities.index'(query-params category='Scouting')}}Scouting{{/link-to}}</button>
{{outlet}}

</div>


