<div class="activities-list">
{{!-- <div class='activities-image'>
    <img src="/images/activities.gif" alt="Activities">
</div> --}}
<ul>
{{#each model as |activity|}}
    {{#unless activity.isNew}}
    <li>
    {{#link-to 'activities.show' activity}}
        <h3><a href="{{activity.url}}">{{activity.name}}</a></h3>
    {{/link-to}}
    </li>
    {{/unless}}
{{/each}}
</ul>
</div>

{{outlet}}
