<h1>Events Events Events Events</h1>
<ul>
<li>{{#link-to 'events.create'}}+ Add new event{{/link-to}}</li>
{{#each model as |event|}}
    {{#unless event.isNew}}
    <li>
    <h3>{{event.name}}</h3>
    <p>{{event.date}}</p>
    {{#link-to 'events.show'}}Event Details{{/link-to}}
    </li>
    {{/unless}}
{{/each}}
</ul>

{{outlet}}
