{{!-- {{signup-form user=model save='save'}} --}}


<div id="form">
<form class="signup-form" {{action 'signup' email password on='submit'}}>

<label for="signup-email">Email</label>
  {{input type='email' value=email}}

<label for="signup-password">Password</label>
  {{input type='password' value=password}}

    <button id='save' type='submit'>Signup</button>
</form>
    <div class="image">
        <img src="/images/activities5.jpeg" alt="activities">
    </div>
</div>


