<div class="activities-detail">
{{!-- <div class='activities-image'>
    <img src="/images/activities.gif" alt="Activities">
</div> --}}
{{!-- {{#each categories as |category|}} --}}
<ul>
    <h2>{{category.name}}</h2>
{{#each model as |activity|}}
    {{#unless activity.isNew}}
    <li>
    {{#link-to 'activities.show' activity}}
        <h3><a href="{{activity.url}}">{{activity.name}}</a></h3>
    {{/link-to}}
    </li>
    {{/unless}}
{{/each}}
</ul>
</div>

{{outlet}}
