{{#each model as |activity|}}
    {{#unless activity.isNew}}

    <h3>{{activity.name}}</h3>
    <p>{{activity.category}}</p>
    <a href="{{activity.url}}">{{activity.url}}</a>

    {{/unless}}
{{/each}}
