<ul>
{{#each model as |activity|}}
    {{#unless activity.isNew}}
    <li>
    {{#link-to 'activities.show' activity}}
        <h3>{{activity.name}} - <span><a href="{{activity.url}}">{{activity.url}}</a></span></h3>
    {{/link-to}}
    </li>
    {{/unless}}
{{/each}}
</ul>

{{outlet}}
