<div id="form">
<form class="signup-form" {{action 'save' on='submit'}}>
<label for="signup-username">Username</label>
  {{input type='text' value=username}}

<label for="signup-password">Password</label>
  {{input type='password' value=password}}

    <button type='submit'>Save</button>
</form>
</div>

