<nav>
    <ul>
    <li>{{#link-to 'index'}}Welcome to Ember{{/link-to}}</li>
    <li>{{#link-to 'activities'}}Activities{{/link-to}}</li>
    <li>{{#link-to 'events'}}Events{{/link-to}}</li>
    <li>{{link-to 'Login' 'login'}}</li>
    <li>{{link-to 'Signup' 'signup'}}</li>
</ul>
</nav>


{{outlet}}


{{md-modal-container}}
