<h2 id="title">Welcome to Ember</h2>

{{#link-to 'activities'}}Activities{{/link-to}}
{{#link-to 'events'}}Events{{/link-to}}
{{#link-to 'login'}}Login{{/link-to}}
{{#link-to 'signup'}}SignUp{{/link-to}}


{{outlet}}
